<div class="cart-main-cnt">
  <div class="title-nav">
    <span class="home-nav" routerLink="/dashboard/books">Home</span>
    <span class="cart-nav">/ My Cart</span>
  </div>

  <div class="cart-books-cnt">
    <div class="cart-heading-location-cnt">
      <span class="cart-heading">My Cart ({{ cartItems.length }})</span>
      <div class="loc-icon-cnt">
        <span class="loc-icon">
          <mat-icon svgIcon="location-icon"></mat-icon> Bridgelabz Solutions...
          <mat-icon class="drop-down" svgIcon="drop-down-icon"></mat-icon>
        </span>
      </div>
    </div>
    <div class="cartlist-books-cnt" *ngFor="let item of cartItems">
      <img src="{{ item.BookImage }}" alt="image is not found" class="book-image-cnt">
      <div class="book-details">
        <span class="book-name">{{ item.BookName }}</span>
        <span class="author-name">{{ item.AuthorName }}</span>
        <span class="price">Rs. {{item.Price * item.Quantity}}</span>
        <div class="quantity-remove-button">
          <span class="symbol" (click)="decreaseCount(item.BookId)">-</span>
          <span class="number-of-books">{{ item.Quantity }}</span>
          <span class="symbol" (click)="increaseCount(item.BookId)">+</span>
          <span class="remove" (click)="removeFromCart(item)">Remove</span>
        </div>
      </div>
    </div>
    <div class="place-order-btn">
      <button mat-raised-button color="primary" (click)="placeOrder1()">PLACE ORDER</button>
    </div>
  </div>

  <div class="customer-details-cnt">
    <div class="address-header">
      <span class="address-details-heading">Address Details</span>
      <button mat-flat-button *ngIf="showAddressDetails" class="add-new-address" (click)="AddNewAddress = true">Add New Address</button>
    </div>
    <div class="customerDetails">
      <div *ngIf="customerAddresses.length > 0; else noAddress">
        <div *ngFor="let address of customerAddresses" class="addressDetails">
          <div class="address-info">
            <span><b>Customer Name: </b>{{ address.CustomerName }}</span>
            <span><b>Mobile Number: </b>{{ address.MobileNumber }}</span>
            <span><b>Full Address: </b>{{ address.FullAddress }}</span>
            <span><b>City: </b>{{ address.City }}</span>
            <span><b>State: </b>{{ address.State }}</span>
            <span><b>Type: </b>{{ address.Type }}</span>
            <br>
          </div>
          <div class="address-buttons">
            <button mat-flat-button class="editAddress" (click)="editAddress(address)">EDIT</button>
            <button mat-flat-button class="removeAddress" (click)="removeAddress(address.AddressId)">REMOVE</button>
            <button mat-flat-button class="continueAddress" (click)="continueWithAddress(address)">CONTINUE</button>
          </div>
        </div>
      </div>
      <ng-template #noAddress>
        <p *ngIf="showAddressDetails">No addresses are present. Create new address.</p>
      </ng-template>
    </div>
  </div>

  <div class="order-address" *ngIf="AddNewAddress">
    <form [formGroup]="addressForm">
      <div class="name-number-fields">
        <div class="name">
          <label><b>Full Name</b></label>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" formControlName="CustomerName">
          </mat-form-field>
        </div>
        <div class="number">
          <label><b>Mobile Number</b></label>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="Enter mobile number" formControlName="MobileNumber">
          </mat-form-field>
        </div>
      </div>
      <div class="address">
        <b>Address</b>
        <textarea class="address-textarea" formControlName="FullAddress"></textarea>
      </div><br>
      <div class="city-state-fields">
        <div class="city">
          <label><b>City/Town</b></label>
          <mat-form-field appearance="outline" class="input">
            <mat-label>City</mat-label>
            <input matInput placeholder="Enter City" formControlName="City">
          </mat-form-field>
        </div>
        <div class="state">
          <label><b>State</b></label>
          <mat-form-field appearance="outline" class="input">
            <mat-label>State</mat-label>
            <input matInput placeholder="Enter state" formControlName="State">
          </mat-form-field>
        </div>
      </div>
      <div class="type">
        <b>Type</b><br>
        <mat-radio-group formControlName="Type" class="type-buttons">
          <mat-radio-button value="work">Work</mat-radio-button>
          <mat-radio-button value="home">Home</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>
      </div><br>
      <div>
        <button mat-flat-button class="submit-button" (click)="continueOrder()">{{ isEditing ? 'Update Address' : 'Add Address' }}</button>
      </div>
    </form>
  </div>
  <div class="order-summery-cnt">
    <span class="order-summary-heading">Order Summary</span>
    <div *ngIf="showOrderSummary">
      <div *ngFor="let item of cartItems" class="order-summary-items">
        <img src="{{ item.BookImage }}" alt="image is not found" class="book-image-cnt">
        <div class="book-details">
          <span class="book-name">{{ item.BookName }}</span>
          <span class="author-name">{{ item.AuthorName }}</span>
          <span class="price">Rs. {{item.Price * item.Quantity}}</span>
          <span class="quantity">Quantity: {{ item.Quantity }}</span>
        </div>
      </div>
      <div class="checkout-btn">
        <button mat-raised-button color="primary" (click)="handleCheckOut()">CHECKOUT</button>
      </div>
    </div>
  </div>
</div>

