.cart-book-container,.showcustomerDetails {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Add margin between book containers */
    display: flex; /* Use flexbox to control layout */
    justify-content: space-between; /* Align items at the start and end */
    align-items: center; /* Vertically center items */
}

.cart-book-image {
    display: flex;
    gap: 7%;
}

.cart-book-details {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.cart-book-details span:first-child {
    white-space: nowrap; /* Prevent line breaks */
}
.buttons {
    display: flex;
    gap: 30px;
    align-self: flex-end; /* Align buttons to the end */
}

button {
    background-color: blue;
    color: white;
}

.back-to-dashbaord a h3 {
    text-decoration: none;
    margin-left: 15%;
}

.book-cnt {
    width: 62%; /* Adjust width as needed */
    margin-left: 15%;
}

.heading-maps {
    display: flex;
    justify-content: space-between;
    padding: 1% 10px;
}

.maps {
    border: 1px solid black;
    margin-right: 20px;
    padding: 3px;
}

.content{
  margin-left: 10%;
}   

.order-address{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Add margin between book containers */
    display: flex; /* Use flexbox to control layout */
    flex-direction: column;
    width: 60%; /* Adjust width as needed */
    height:auto;
    margin-left: 15%;
}


.add-new-address{
    height:10%;
    background-color: white;
    color: red;
    border: 1px solid red;
}

.name-number-fields, .city-state-fields{
    display: flex;
    flex-direction: row;
    gap:15%;
}
.name, .number, .city, .state {
    display: flex;
    flex-direction: column;
    width: 45%; /* Set width for the form field containers */
}

mat-form-field {
    width: 80%; /* Ensure mat-form-field takes full width of its container */
}

.address, .type{
    display: flex;
    flex-direction: column;
}
.address-textarea{
    height: 80px;
    width: 50%;
}
.type-buttons{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.sumbit-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.order-summary{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Add margin between book containers */
    display: flex; /* Use flexbox to control layout */
    flex-direction: column;
    flex-direction: column;
    margin-left: 15%;
    width: 60%; /* Adjust width as needed */
    height:auto;
}

.order-item{
    display: flex;
    flex-direction: row;
    gap:5%;
}
.order-item-details{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.checkout-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.showcustomerDetails {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

.address-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.customerDetail
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}
.addressDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.address-info{
    display: flex;
    flex-direction: column;
}
.address-buttons{
    display: flex;
    flex-direction: row;
}
.editAddress,.removeAddress,.continuewithThisAddress{
    border: 1px solid;
    color: red;
    background-color: white;
    height: 50px;
    
}


