.header-main-cnt {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px 0px;
    height: 32px;
    background: #a03037 0% 0% no-repeat padding-box;
  }
  
  .inner-main-cnt {
    width: 77%;
    display: flex;
    justify-content: space-between;
  }
  
  .img-span-search-cntr {
    display: flex;
    gap: 42px;
    width: 70%;
  }
  
  .img-span-cntr {
    display: flex;
    gap: 6px;
    align-items: center;
    span {
      color: #ffffff;
      text-align: left;
      font: normal normal normal 20px/26px Roboto;
      letter-spacing: 0px;
    }
  }
  
  .search-container {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    padding: 3px;
  }
  
  .search-input {
    width: 70%;
    border: none;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    border-radius: 3px;
    outline: none;
  }
  
  .search-icon {
    height: 12px;
    margin-top: 5px;
  }
  
  .profile-cart-cnt {
    display: flex;
    gap: 40px;
    span {
      text-align: left;
      font: normal normal normal 10px/13px Roboto;
      letter-spacing: 0.45px;
      color: #ffffff;
    }
  }
  
  .profile mat-icon {
    height: 16px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .cart-cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .cart-icon {
    height: 16px;
  }
  

  .profile-history{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0% 2% ;

}
.login-signup button, .logout {
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: red;
}

.login-signin{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





