<div class="header-main-cnt">
    <img src="assets/images/education.png" alt="Image not found">
    <h3 class="title">BookStore</h3>
  
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search...">
      <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
    </div>
  
    <div class="profile">
      <mat-icon class="profile-icon" [matMenuTriggerFor]="ProfileMenu" svgIcon="profile-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
      <span>Profile</span>
    </div>
  
    <div class="cart">
      <mat-icon class="cart-icon" svgIcon="cart-icon" aria-hidden="false" aria-label="Search SVG icon" (click)="handleCart()"></mat-icon>
      <span>Cart</span>
    </div>
  </div>
  
  <mat-menu #ProfileMenu="matMenu">
    <div class="profile-history" *ngIf="isLoggedIn">
      <span>Welcome</span>
      <span>To access account and manage orders</span>
      <div class="login-signup">
        <button mat-button  (click)="login()">LOGIN/SIGNUP</button>
        <div class="order-icon" (click)="handleOrderDetails()"> My Orders</div>
        <div class="heart-icon" (click)="handleWishlist()">&#x2764; Wishlist</div>
      </div>
    </div> 
    <div *ngIf="!isLoggedIn">
    <div class="login-signin">
      <span>Hello Padmavathi,</span>
      <div class="profile-icon">Profile</div>
      <div class="order-icon" (click)="handleOrderDetails()">My Orders</div>
      <div class="wishlist" (click)="handleWishlist()">&#x2764;My Wishlist</div>
      <button mat-button (click)="logout()">LOGOUT</button>
  </div>
  </div>
  </mat-menu>   
  
  <div>
    <router-outlet></router-outlet>
  </div>
  