.header-main-cnt{
    border-bottom: 1px solid black;
    width:100%;
    height:1%;   //height is not affected
    background-color: maroon;
    display: flex;
    flex-direction: row;
    align-items: center;
    //margin-left: 10%;
    // padding:0 12%;
    //position:fixed;
    //padding-left: 10%;
}
img{
    margin-left: 10%;   
}
.title{
    color: white;
    margin-left: 10px;
}
.search-container
{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.search-input {
    width: 550px; /* Set width of input field */
    height:28px;
    // padding: 5px; /* Add padding */
    border-radius: 8px;
    text-indent: 30px; /* Adjust as needed */
}

.search-icon {
    height:20px;
    width:15px;
    margin-left: -550px; /* Adjust the left margin as needed */
    line-height: 0px;
    // padding-bottom: 1px;
}
.profile{
    display: flex;
    flex-direction: column;
    margin-left: 800px;
    color: white;
    font-size: 10px;
    gap:5px;
    margin-top: 10px;
    //position: relative;
    &:hover{
        cursor: pointer;
    }
}

.cart{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    color: white;
    font-size: 10px;
    gap:5px;
    margin-top: 10px;
    &:hover{
        cursor: pointer;
    }
}

.wishlist{
    cursor: pointer;
}
.profile-history{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0% 2% ;
    //gap:50%;

}
.login-signup button {
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: red;
}





