<div class="order-cnt">
    <div class="order-image">
         <img src="assets/images/order.png" alt="image not found" width="500px" height="270px">
    </div>  
    <div class="order-confirm-message">
        hurray!!! your order is confirmed the order id is #{{orderDetail.OrdeId}} save the order id for further communication..   
     </div>  
     <div class="order-information">
          <div class="headings">
            <span>Email Us</span>
            <span>Contact Us</span>
            <span>Address</span>
          </div>
          <hr>
          <div class="information">
           <span>{{orderDetail.Email}}</span>
           <span>{{orderDetail.MobileNumber}}</span>
           <span>{{orderDetail.FullAddress}}</span>
          </div>
     </div> 
     <div>
        <button mat-flat-button  (click)="continueShopping()">CONTINUE SHOPPING</button> 
     </div>
</div>  