<div class="wishlist-main-cnt">
    <div class="title-nav">
        <span class="home-nav" routerLink="/dashboard/books">Home</span>
        <span class="wishlist-nav">/ My Wishlist</span>
    </div>
    <div class="wishlist-cnt" *ngIf="wishlistItems.length > 0">
         <div class="wishlist-heading-cnt">
             <span class="wishlist-heading">My Wishlist ({{wishlistItems.length}})</span>
         </div>
               <div class="wishlist-books-cnt"  *ngFor="let item of wishlistItems">
                 <img src="{{item.BookImage}}" alt="image is not found" class="book-image-cnt">
                 <div class="book-details">
                    <span class="book-name">{{item.BookName}}</span>
                    <span class="author-name">{{item.AuthorName}}</span>
                    <span class="price">Rs. {{item.Price}}</span>
                 </div>
                 <mat-icon class="delete-icon" svgIcon="delete-icon" aria-hidden="false" aria-label="Search SVG icon" (click)="removeFromWishlist(item)"></mat-icon>
               </div>
    </div>
    <div *ngIf="wishlistItems.length === 0" class="empty-wishlist">
        <span class="content">Your wishlist is empty</span>
    </div>
</div>
