<div class="orderdetails-outer-cnt">
    <div class="back-to-dashbaord">
        <a routerLink="/dashboard/books"><h3>Home</h3></a>
    </div>
    <div *ngIf="OrderItems.length > 0" class="book-cnt">
        <div>
            <span>My OrderList</span>
        </div>
        <div *ngFor="let item of OrderItems" class="order-book-container">
            <div class="order-book-image">
                <img src="{{item.BookImage}}" height="100px" width="100px">
                <div class="order-book-details">
                    <span class="book-name"><b>{{item.BookName}}</b></span>
                    <span>{{item.AuthorName}}</span>
                    <span style="font-size: 15px;"><b>Rs. {{item.Price}}</b></span>
                </div>
                <div class="order-date">
                    <span>Order placed on {{item.OrderDate}}</span>
                </div>
            </div>
        </div>
    </div>
   
    <div *ngIf="OrderItems.length === 0" class="empty-cart">
        <span class="content">Do login, After login only You can see your orderlist</span>
    </div>
</div>
