.order-book-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.order-book-image {
    display: flex;
    gap: 7%;
    flex: 1;
}

.order-book-details {
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex: 1;
}

.order-date {
    align-self: flex-end;
}

.order-book-details .book-name {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: blue;
    color: white;
}

.back-to-dashbaord a h3 {
    text-decoration: none;
    margin-left: 15%;
}

.book-cnt {
    width: 62%; 
    margin-left: 15%;
}

.content {
    margin-left: 10%;
}
