
<div class="orderlist-main-cnt">
    <div class="title-nav">
        <span class="home-nav" routerLink="/dashboard/books">Home</span>
        <span class="order-nav">/ My Order</span>
    </div>
    <div class="orderlist-cnt" *ngIf="OrderItems.length > 0">
            <div *ngFor="let item of OrderItems" class="orderlist-books-cnt">
                <img src="{{item.BookImage}}" alt="image is not found" class="book-image-cnt">
                <div class="book-details">
                   <span class="book-name">{{item.BookName}}</span>
                   <span class="author-name">{{item.AuthorName}}</span>
                   <span class="price">Rs. {{item.Price}}</span>
                </div>
                <ul class="circle-list">
                    <li><span class="order-date">Order placed on {{item.OrderDate}}</span></li>
                </ul>
            </div>
    </div>
    <div *ngIf="OrderItems.length === 0" class="empty-orderlist">
        <span class="content">Your orderlist is empty</span>
    </div>
</div>
